<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Chip dien tu</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8 " />
        <meta name="description" content="chipquang" />
        <meta name="keywords" content="" />
    </head>
    <body style="background: #FFFFFF;">
		<h1>Website đang xây dựng. Xin vui lòng quay lại lần sau.</h1>
    </body>
</html>
