<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Toi yeu hang viet</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8 " />
        <meta name="description" content="chipquang" />
        <meta name="keywords" content="" />
    </head>
    <body style="background: #FFFFFF;">
        <h1>{{ 'Oops! An Error Occurred'|trans({}, 'SMFrontBundle') }}</h1>
        <div>
            {{ 'Something is broken. Please e-mail us at info@toiyeuhangviet.vn and let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.'|trans({}, 'SMFrontBundle') }}
        </div>
    </body>
</html>
