<div class="lang">
<span>Ngôn ngữ:</span>
<ul>
  <li><a href="#" title="Tiếng Việt" class="wi-icon wi-icon-1">Tiếng Việt</a></li>
  <li><a href="#" title="English" class="wi-icon wi-icon-2">English</a></li>
</ul>
</div><!-- end lang -->