<meta charset="utf-8">
<title>{% block title %}{{ 'Toi Yeu Hang Viet'|trans({}, 'SMFrontBundle') }}{% endblock %}</title>
<meta name="description" content="{{metaDes}}">
<meta name="keywords" content="{{metaKeywords}}">
<meta name="robots" content="index, follow">
<meta name="author" content="">
<meta name="viewport" content="width=1300">