<div class="block specialty">
    <div class="title-2">
      <div class="inner">
        <h2><span><span>Đặc sản cùng vùng miền</span></span></h2>
        <a href="#" title="Xem thêm" class="readmore">Xem thêm</a>
      </div>
    </div>
    <div class="thumbnails-1">
      <ul>
        <li>
          <a href="#" title="">
            <span class="wi-frame wi-frame-2"><span><span><img src="/web/front/images/upload/new-specialty-1.jpg" alt="" /></span></span></span>
            <h3>Cuối tuần làm gỏi bưởi mực</h3>
          </a>
        </li>
        <li>
          <a href="#" title="">
            <span class="wi-frame wi-frame-2"><span><span><img src="/web/front/images/upload/new-specialty-2.jpg" alt="" /></span></span></span>
            <h3>Cuối tuần làm gỏi bưởi mực</h3>
          </a>
        </li>
        <li>
          <a href="#" title="">
            <span class="wi-frame wi-frame-2"><span><span><img src="/web/front/images/upload/new-specialty-3.jpg" alt="" /></span></span></span>
            <h3>Cuối tuần làm gỏi bưởi mực</h3>
          </a>
        </li>
        <li>
          <a href="#" title="">
            <span class="wi-frame wi-frame-2"><span><span><img src="/web/front/images/upload/new-specialty-4.jpg" alt="" /></span></span></span>
            <h3>Cuối tuần làm gỏi bưởi mực</h3>
          </a>
        </li>
        <li>
          <a href="#" title="">
            <span class="wi-frame wi-frame-2"><span><span><img src="/web/front/images/upload/new-specialty-5.jpg" alt="" /></span></span></span>
            <h3>Cuối tuần làm gỏi bưởi mực</h3>
          </a>
        </li>
        <li>
          <a href="#" title="">
            <span class="wi-frame wi-frame-2"><span><span><img src="/web/front/images/upload/new-specialty-5.jpg" alt="" /></span></span></span>
            <h3>Cuối tuần làm gỏi bưởi mực</h3>
          </a>
        </li>
        <li>
          <a href="#" title="">
            <span class="wi-frame wi-frame-2"><span><span><img src="/web/front/images/upload/new-specialty-6.jpg" alt="" /></span></span></span>
            <h3>Cuối tuần làm gỏi bưởi mực</h3>
          </a>
        </li>
        <li>
          <a href="#" title="">
            <span class="wi-frame wi-frame-2"><span><span><img src="/web/front/images/upload/new-specialty-7.jpg" alt="" /></span></span></span>
            <h3>Cuối tuần làm gỏi bưởi mực</h3>
          </a>
        </li>
      </ul>
    </div>
  </div>