<!--<div class="video-block">
    <iframe width="208" height="153" src="http://www.youtube.com/embed/u2IDsSL0OHg?wmode=transparent"></iframe>
</div>-->

<div class="video-block-list yt_holder">
    <div id="ytvideo"></div>
    <ul class="demo1">
        <li>
            <a href="http://www.youtube.com/watch?v=QBBWKvY-VDc" title="Video 1Video 1Video 1Video 1">
                Video 1Video 1Video 1Video 1
            </a>
        </li>
        <li>
            <a href="http://www.youtube.com/watch?v=ZXMQqLnRhRI" title="Video 1Video 1Video 1Video 1">
                Video 1Video 1Video 1Video 1
            </a>
        </li>
        <li>
            <a href="http://www.youtube.com/watch?v=Wvo-g_JvURI" title="Video 1Video 1Video 1Video 1">
                Video 1Video 1Video 1Video 1
            </a>
        </li>
    </ul>
</div>