<div class="video-block">
    <iframe width="208" height="153" src="http://www.youtube.com/embed/u2IDsSL0OHg?wmode=transparent"></iframe>
</div>

<!--<div class="block video-block-list">
    <ul>
        <li>
            <a class="playlist" title="Video 1" href="#">
                <span class="img-thumb">
                    <span>
                        <iframe width="57" height="57" src="http://www.youtube.com/embed/u2IDsSL0OHg?wmode=transparent"></iframe>
                    </span>
                </span>
                <div class="content">
                    <p>Video 1</p>
                </div>
            </a>
        </li>
        <li>
            <a class="playlist" title="Video 2" href="#">
                <span class="img-thumb">
                    <span>
                        <iframe width="57" height="57" src="http://www.youtube.com/embed/u2IDsSL0OHg?wmode=transparent"></iframe>
                    </span>
                </span>
                <div class="content">
                    <p>Video 2</p>
                </div>
            </a>
        </li>
    </ul>
</div>-->