<!--<div class="video-block">
    <iframe width="208" height="153" src="http://www.youtube.com/embed/u2IDsSL0OHg?wmode=transparent"></iframe>
</div>-->

<div class="video-block-list yt_holder">
    <div id="ytvideo"></div>
    <ul class="demo1">
        {% if entities|length  > 0%}
        {% for ent in entities %}
            <li>
                <a href="{{ent.video.url}}" title="{{ mtxgetteaser(ent.name, countWordNewsTitle)|raw }}">
                    {{ mtxgetteaser(ent.name, countWordNewsTitle)|raw }}
                </a>
              </li>
        {% endfor %}
    {% endif %}       
    </ul>
</div>